<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="CEN3031FA14" class="img-responsive text-center" src="modules/core/img/brand/university-of-Florida.jpg" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				This is a placeholder frontpage for our website while we get specifics worked out.
			</p>
		</div>
		<div class="row">
			<p>
				<!--a class="btn btn-primary btn-lg" href="#!">Learn more</a-->
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		</div>
	</div>
	<br>
</section>
