<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center" ng-show="authentication.user.roles.indexOf('admin') === -1">Sign up with your UF email account</h3>
	<h3 class="col-md-12 text-center" ng-show=" authentication.user.roles.indexOf('admin') !== -1">Add a User</h3>

	<!--Information displayed when registration is closed-->
    <div ng-show="registration === 'closed' && authentication.user.roles.indexOf('admin') === -1" class="alert alert-warning text-center">
		Sorry, registration is currently closed to the public.
	</div>
	
	<!--Signup section-->
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2" ng-show="registration === 'open' || authentication.user.roles.indexOf('admin') !== -1">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="username">UF Email Address</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="youremail@ufl.edu">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>				
				<div class="form-group">
					<label for="researchinterests">Research Interests</label>
					<textarea type="researchinterests" maxlength="300" id="researchinterests" name="researchinterests" class="form-control" data-ng-model="credentials.researchinterests" ng-trim="false" placeholder="Enter a brief description of your research interests" style="height:60px; text-align:left"></textarea>
					<span>{{300 - credentials.researchinterests.length}} character(s) remaining</span>
				</div>


				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; <br><br>Already have an account?&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>