<section data-ng-controller="DatabasesController">
    <div class="page-header">
        <h1>New Database</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <!-- Field for the DB name -->
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name of the Database" required>
                    </div>
                    <!-- Checkbox to specify whether it is a free or paid resource, defaults paid (false) -->
                    <label class="control-label" for="isFree">Free</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="isFree" id="isFree">
                    </div>
                    <!-- Field for the description of the DB, possibly later add a char limit and possible suggestions -->
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea type="text" data-ng-model="description" id="description" maxlength="500" class="form-control" placeholder="Provide a brief description of the database" required></textarea>
                        <span>{{500 - description.length}} character(s) remaining</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>