<section data-ng-controller="DatabasesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Databases</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="database in databases" data-ng-href="#!/databases/{{database._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="database.created | date:'medium'"></span>
				by
				<span data-ng-bind="database.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="database.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!databases.$resolved || databases.length">
    	No Databases yet, why don't you <a href="/#!/databases/create">create one</a>?
    </div>
</section>