<section data-ng-controller="DatabasesController" data-ng-init="findOne();">

    <!--Buttons to add/remove database in portfolio-->
    <button ng-show="checkForDatabaseInPortfolio()" data-ng-click="open('md', database);" class="btn addDatabases pull-right">
    Add Database To Your Portfolio <i class="glyphicon glyphicon-plus"></i></button> 
    <button ng-show="!checkForDatabaseInPortfolio()" data-ng-click="removeDatabaseFromPortfolio(); findDBUsers(database._id);" class="btn removeDatabase pull-right"> Remove Database From Portfolio <i class="glyphicon glyphicon-minus"></i></button>

    <!-- Div for the modal for adding DBs -->
     <div>
             <script type="text/ng-template" id="addDBModal">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
                    <h3 class="modal-title"> Add Database to Portfolio </h3>
                </div>
                    <div class="modal-body">
                        <p>You are adding &quot{{database.name}}&quot created by {{database.user.displayName}} to your portfolio.</p>
                        <div class="checkbox">
                        <label> 
                            <input type="checkbox" data-ng-model="proficient" id="proficient" unchecked>

                            I am proficient with this database and am willing to answer questions about it.
                        </label>
                    </div>
                        <button class="btn large btn-success" data-ng-click="addDatabaseToPortfolio({{database}}, proficient); findDBUsers(database._id);">Add Database to Porfolio</button>
                        <button class="btn" ng-click="cancel()">Cancel</button>
                </div>
        </script>
    </div>


    <!-- Name Here -->
    <div class="page-header" style="margin-bottom:3px;">
        <h1 data-ng-bind="database.name" style="margin-bottom:3px"></h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8" style="max-width:400px;">
            <small style="margin-top:0px;">
                <em class="text-muted">
                    Added on
                    <span data-ng-bind="database.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="database.user.displayName"></span>
                </em>
            </small>  
        
        <!-- Short Description Here, should this be visibile in view DB or just in the list of DBs? -->
            <div class="page-header">
                <h3>Brief Description</h3>
                <p data-ng-bind="database.descriptionShort"></p>
            </div>
        
        <!-- Long Description Here -->
            <div class="page-header">
                <h3>Full Description</h3>
                <p data-ng-bind="database.descriptionLong"></p>
            </div>
       
        <!-- URL is here -->
            <div class="page-header">
                <h3>Where to Access</h3>
                <a data-ng-bind="database.url" ng-href="{{database.url}}"></a>
            </div>
        
        <!-- isFree Here, desperately needs formatting -->
            <div class="page-header" data-ng-show="database.isFree">
                <h3>Free to Access</h3>
                <p>This database is free to access.</p>
            </div>
        
        <!-- Buttons for Delete / Edit -->
            <div class="" data-ng-show="authentication.user._id == database.user._id || isAdmin()">
                <a class="btn btn-primary" href="/#!/databases/{{database._id}}/edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary" data-ng-click="remove();">
                 <i class="glyphicon glyphicon-trash"></i>
                </a>
           </div>
        </div>

    <!-- Users who have added-->
        <div class="col-xs-6 col-md-4" style="max-width:300px;float:right">
            <div class="page-header">
                <h3>Database Users</h3>
            </div>
            <li data-ng-repeat="user in dbUsers" class="list-group-item">
                <div style="display:flex">
                    <a class="list-group-item-text" data-ng-href="#!/users/{{user._id}}" id="attributes" style="max-width: 350px;">
                        <span class="list-group-item-heading" data-ng-bind="user.firstName"></span>
                        <span class="list-group-item-heading" data-ng-bind="user.lastName"></span>
                        <span class="glyphicon glyphicon-star" style="color:#ffcc00" ng-show="isProficient({{user.proficientpors}},database._id)"></span>
                    </a>
                </div>
            </li>
            <div class="page-footer">
         <h6>Star denotes users who are knowledgeable of the database.</h6>
     </div>
        </div>
    </div>

    <!--Comments Area-->
    <div class="page-header">
        <h2>Comments</h2>
    </div>
    <div class="list-group">
        <li data-ng-controller="CommentsController" data-ng-repeat="comment in dbComments" class="list-group-item">
            <b><a data-ng-href="#!/users/{{comment.user._id}}" data-ng-bind="comment.user.displayName"></a></b>
            <small class="list-group-item-test"> on <span data-ng-bind="comment.created | date:'medium'"></span>
                
            <!--Delete Comment Button-->
            <i class="glyphicon glyphicon-remove" ng-show="authentication.user._id === comment.user._id || authentication.user.roles.indexOf('admin') !== -1" style="color:red; cursor: pointer" ng-click="remove(comment); getComments(database._id);"></i>                
            <h5 class="list-group-item-heading" data-ng-bind="comment.reviews" style="padding-top:4px"></h5>
        </li>
    </div>

    <div class="alert alert-warning text-center" ng-show="dbComments.length === 0">
        No comments yet.
    </div>

    <form class="form-horizontal" data-ng-controller="CommentsController" novalidate data-ng-submit="create(database._id); getComments(database._id); resetCommentField()">
        <fieldset>
            <div class="form-group">
                <label class="control-label" for="reviews" style="padding-left:10px">Add Comment</label>
                <div class="controls">
                    <textarea type="text" data-ng-model="reviews" id="reviews" class="form-control" style="margin-left:10px; max-width:700px;" placeholder="Enter your comment here" required></textarea>
                </div>            
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" style="margin-left:10px;">
            </div>    
            <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
        </fieldset>
    </form>
</section>