<section class=".container-fluid" data-ng-controller="SettingsController" onload="copyInterests()">
	<div class="page-header">
		<h2>My Profile</h2>
	</div>

	<!--Modal display and controller call-->
	<div>
    	<script type="text/ng-template" id="delete-modal.client.view.html">
    		<div class="modal-header">
    			<h3 class="modal-title"> Delete Account </h3>
    		</div>
    		<div class="modal-body">
            	<p>Are you sure you want to delete your account?</p>
            	<form name="deleteForm">
	            	<div class="form-group">
						<label for="password">Verify Password</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="modalPassword" placeholder="Verify Password" required />
					</div>
					<div data-ng-show="error" class="text-center text-danger"> 
						<strong data-ng-bind="error"></strong>
					</div>
				</form>
        	</div>
        	<div class="modal-footer">
            	<button type="submit" class="btn btn-primary" ng-disabled="deleteForm.$invalid" ng-click="deleteAccount()">Delete Account</button>
            	<button class="btn" ng-click="$dismiss()">Cancel</button>
        	</div>
    	</script>
    </div>

    <!--Opens modal service for account deletion-->
	<div class="text-right">
			<!--http://plnkr.co/edit/Wd9hxToFDKM7lU5yBDno?p=preview-->
			<button ng-click="open('sm')" class="btn btn-large btn-danger">Delete Profile</button>
	</div>

	<div class="col-md-6 text-left">
		<form name="userForm" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">UF Email Address</label>
					<p id="username" name="username" data-ng-model="user.username">{{user.username}}</p>
				</div>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name"readonly>
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name" readonly>
				</div>
				<div class="form-group">
					<label for="researchinterests">Research Interests</label>
					<textarea type="researchinterests" maxlength="300" id="researchinterests" name="researchinterests" class="form-control" data-ng-model="user.researchinterests" ng-trim="false" placeholder="Enter a brief description of your research interests" style="height:60px; text-align:left"></textarea>
					<span>{{300 - user.researchinterests.length}} character(s) remaining</span>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary" ng-click="updateUserProfile(userForm.$valid); redirectToViewProfile(1000);">Save Profile</button>
					<button type="reset" class="btn btn-large btn-primary" ng-click="cancelChanges(); redirectToViewProfile(0);">Cancel</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
<!--class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2"
class="col-md-8 text-left"-->