<section class=".container-fluid" data-ng-controller="SettingsController" onload="copyInterests()">
	<div class="page-header">
		<h2>My Profile</h2>
	</div>   

	<div class="col-md-6 pull-left">
		<h3>Account Information</h3>
		<form name="userForm" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">UF Email Address</label>
					<p id="username" name="username" data-ng-model="user.username">{{user.username}}</p>
				</div>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<p data-ng-bind="user.firstName"></p>
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<p data-ng-bind="user.lastName"></p>
				</div>
				<div class="form-group">
					<label for="researchinterests">Research Interests</label>
					<textarea type="researchinterests" maxlength="300" id="researchinterests" name="researchinterests" class="form-control" data-ng-model="user.researchinterests" ng-trim="false" placeholder="Enter a brief description of your research interests" style="height:60px; text-align:left"></textarea>
					<span>{{300 - user.researchinterests.length}} character(s) remaining</span>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-success" ng-click="updateUserProfile(userForm.$valid); redirectToViewProfile(1000);">Save Profile</button>
					<button type="reset" class="btn" ng-click="cancelChanges(); redirectToViewProfile(0);">Cancel</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>

	<div class="col-md-6">
		<h3>Account Settings</h3>
		 <!--Opens modal service for account deletion-->
		<div>
			<label for="accountDeletion">Remove Account</label>
			<!--http://plnkr.co/edit/Wd9hxToFDKM7lU5yBDno?p=preview-->
			<p><button ng-click="open('sm')" class="btn btn-large btn-warning">Delete Account</button></p>
		</div>
		<div>
			<label for="privacy">Privacy</label>
			<p><input type="checkbox" ng-model="user.privateProfile"> Hide my information in user directory</p>
		</div>
		<div>
			<label> Password </label>
			<p><a href="/#!/settings/password">Change Password</a><p>
		</div>
	</div>

	<!--Modal display and controller call-->
	<div>
    	<script type="text/ng-template" id="deleteAccountModal">
    		<div class="modal-header">
    			<button type="button" class="close" ng-click="$dismiss()">&times;</button>
    			<h3 class="modal-title"> Delete Account </h3>
    		</div>

    		<div class="modal-body">
            	<p>Are you sure you want to delete your account?</p>
            	<p class="text-danger">This cannot change cannot be reverted!</p><br>
            	
            	<form name="deleteForm">
	            	<div class="form-group">
						<label for="password">Verify Password</label>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="passwordModal.password" placeholder="Verify Password"/>
					</div>
					<div data-ng-show="error" class="text-center text-danger"> 
						<strong data-ng-bind="error"></strong>
					</div>
					<div class="modal-footer">
	            		<button type="submit" class="btn btn-danger" ng-disabled="!passwordModal.password" data-ng-click="deleteAccount(passwordModal)">Delete Account</button>
	            		<button class="btn" ng-click="$dismiss()">Cancel</button>
	        		</div>
				</form>
        	</div>
    	</script>
    </div>
</section>