<section data-ng-controller="SettingsController">
	<div class="page-header">
		<h1 data-ng-bind="user.firstName"></h1>
	</div>
	<div class="page-header">
		<h1 data-ng-bind="user.lastName"></h1>
	</div>
	<div class="page-header">
		<h1 data-ng-bind="user.research"></h1>
	</div>
	<div class="page-header">
		<h1 data-ng-bind="user.email"></h1>
	</div>
	<div class="page-header">
		<h1 data-ng-bind="user.username"></h1>
	</div>

	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/settings/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
	</div>

</section>