<section data-ng-controller="UsersController" data-ng-init="find()">
	<div class="page-header">
		<h1>Users</h1>
	</div>
	<div class="input-group" style="margin-bottom:10px">
         Search: <input ng-model="query" class="form-control" placeholder = "Name or Email">
    </div>
	<div class="list-group">
		<li class="list-group-item" style="height:35px; background-color:#4A6FB4; color:white; vertical-align:center;">
			<h4 class="pull-left list-group-item-heading">Name and Research Interests</h4>
			<h4 class="pull-right list-group-item-heading">Email</h4>
		</li>

		<li data-ng-repeat="user in users | orderBy:lastName | filter:query" ng-style="myStyle" class="list-group-item" style="min-height:75px;">
			<h4 class="list-group-item-heading">{{user.firstName}} {{user.lastName}}</h4>
			<a class="pull-right list-group-item-text" data-ng-href="mailto:{{user.username}}" data-ng-show="!user.privateEmail">{{user.username}}</a>
			<a class="list-group-item-text" data-ng-href="#!/users/{{user._id}}">view profile</a>
			<p class="pull-right list-group-item-text" data-ng-show="user.privateProfile" style="color:#DDDDDD"><i>(Hidden)</i></p>
			<p class="list-group-item-text" style="margin-left:10px; padding-left=10px">{{user.researchinterests}}</p>
			</li>

	</div>
	<div class="alert alert-warning text-center" data-ng-if="users.$resolved && !users.length">
		No users yet!
	</div>
</section>