<section data-ng-controller="UsersController" data-ng-init="findOne()">
	<div class="page-header">
		<h2> <span data-ng-bind-template= "{{user.firstName}} {{user.lastName}}"></span>'s Profile </h2>
	</div>

    <!--Information displayed for private user-->
    <div ng-show="user.privateProfile" class="alert alert-warning text-center">
		This user has chosen to hide their information.
	</div>

	<!-- User Profile. Show if profile is not set to private-->
	<div class="pull-left" ng-show="!user.privateProfile" >
		<h3>Research Interests</h3>
		<p><span  data-ng-bind="user.researchinterests"></span></p>
	
		<h3>Contact Email</h3>
		<p><span ng-show="!user.privateProfile" data-ng-bind="user.username">
	</div>

	<div ng-show="!user.privateProfile" class="pull-right">
		<h3>Portfolio</h3>
		<div data-ng-init="findAll()" class="list-group" style="min-width:450px !important; height: 300px !important; overflow-y:scroll; max-width:450px">
       		<li data-ng-repeat="portfolio in user.portfolios" data-ng-href="#!/databases/{{portfolio._id}}" class="list-group-item">
				<a class="list-group-item-text" data-ng-href="#!/databases/{{portfolio._id}}" id="attributes" style="min-width: 350px; max-width:350px;">
               		<h4 class="list-group-item-heading" data-ng-bind="portfolio.name"></h4>
					Posted on
					<span data-ng-bind="portfolio.created | date:'medium'"></span>
					by
					<span data-ng-bind="portfolio.user.displayName"></span><hr style="margin-top:2px; margin-bottom:2px;">
					<p class="list-group=item-heading" data-ng-bind="portfolio.descriptionShort" style="padding-top: 2px;"></p>
				</a>
       		</li>
       	</div>
    </div>


</section>